{% extends 'blog/base.html' %}

{% block content %}
<h4>Подробная информация. Объявление № {{post.id}}</h4>
<hr>
<p>Автор - {{post.author}}</p>
<p>{{post.title}}</p>
<p>Описание:</p>
<p>{{post.text}}</p>

{% if post.image %}
    <img width="400px" height="280px" src="{{post.image.url}}">
{% endif %}

<br>
<p>Опубликовано: {{post.created_at}}</p>

<div>
    <a href="{% url 'blog:post_edit' pk=post.id %}" class="btn btn-primary">Редактировать</a>
    <form action="{% url 'blog:post_delete' pk=post.id %}" method="get" style="display:inline">
        <button type="submit" class="btn btn-danger">Удалить</button>
    </form>
</div>

{% endblock content %}